.formDiv {
    width: 50%;
    max-width: 500px;
    margin: auto;
}

.contactForm {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

@media (prefers-color-scheme: dark) {
  .formInput {
    border: 1px solid white;
  }
}
