.contactForm {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.title {
  font-size: x-large;
  font-weight: bold;
}

@media (prefers-color-scheme: dark) {
  .formInput {
    border: 1px solid white;
  }
}
