.modal {
    position: absolute;
    width: 80vw;

    padding: 2rem;
    border: 0;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.5rem 0.25rem hsl(0 0% 0% / 10%);
    top: 20%;
    margin: auto;
}

.modalCloseBtn {
    font-size: 40px;
    position: absolute;
    width: 60px;
    height: 60px;
    top: 0.25em;
    right: 0.25em;
}

.modalButton {
    cursor: pointer;
}

.modal::backdrop {
    background: hsl(50 50% 50% / 50%);
}
